{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["components", "./src/components"],
          ["lib", "./src/lib"],
          ["src", "./src/"],
          ["public", "./public"],
          ["data", "./src/data"],
          ["context", "./src/context"],
          ["hooks", "./src/hooks"],
          ["routers", "./src/routers"],
          ["reducers", "./src/reducers"],
          ["includes", "./src/includes"]
        ],
        "extensions": [
          ".ts",
          ".tsx",
          ".js",
          ".jsx",
          ".json",
          ".css",
          ".less",
          ".scss"
        ]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": 1,
    "linebreak-style": ["error", "unix"]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  }
}
